<div id="menu">
        <nav>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/instagram">Instagram</a></li>
            </ul>
        </nav>
  </div>
